/**************************** ELEMENT SELECTORS ****************************/
body {
  font-family: 'Montserrat';

}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

/****************************  SECTIONS ****************************/

.container-fluid {
  padding: 3% 15% 7%;
}

.bg-custom-red {
  background-color: #ff4c68;
}

.bg-custom-orange {
  background-color: #ef8172;
}

/********************* SECTION: TITLE *********************/

#title {
  color: #fff;
}

/* The Main Heading */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Download Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-img {
  position: absolute;
  right: 20%;
  transform: rotate(16deg);
  width: 60%;
}

/* Responsiveness of Section: Title */
@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: 400;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/********************* SECTION: FEATURES *********************/

#features {
  padding: 4% 10%;
  position: relative;
  text-align: center;
}

.feature {
  padding: 2%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/********************* SECTION: TESTIMONIALS *********************/

#testimonials {
  color: #fff;
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-img {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

/********************* SECTION: PRESS *********************/

#press {
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 10%;
}

/********************* SECTION: PRICING*********************/
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

.price-title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5;
}

/* CTA Section */
.cta-heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

/* Footer Section */
.social-icon {
  margin: 20px 7px;
}

/**************************** ID SELECTORS (Sections) ****************************/











#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

#footer {
  padding: 7% 15%;
  text-align: center;
}

/**************************** MEDIA QUERY ****************************/
