/**************************** ELEMENT SELECTORS ****************************/
body {
  font-family: 'Montserrat';
  text-align: center;
}

h2, h3, h4, h5,h6 {
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/****************************  SECTIONS ****************************/

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Section Background Colours */
.bg-custom-red {
  background-color: #ff4c68;
  color: #fff;
}

.bg-custom-orange {
  background-color: #ef8172;
  color: #fff;
}

.bg-white {
  background-color: #fff;
  color: #212529;
}

/* Headings */
.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/********************* SECTION: TITLE *********************/

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Download Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-img {
  position: absolute;
  right: 20%;
  transform: rotate(16deg);
  width: 60%;
}

/* Media Query for Section: Title */
@media (max-width: 1028px) {

  #title .container-fluid {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
    width: 50%;
  }
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: 400;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/********************* SECTION: FEATURES *********************/

#features {
  position: relative;
}

.feature-box {
  padding: 4.5%;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/********************* SECTION: TESTIMONIALS *********************/

/* #testimonials {} */

.testimonial-img {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/********************* SECTION: PRESS *********************/

#press {
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 10%;
}

/********************* SECTION: PRICING*********************/
#pricing {
  padding: 7% 8%;
}

.pricing-col {
  padding: 3% 2%;
}

.card-title {
  font-size: 1.5rem;
}

.price-text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}


/********************* SECTION: CTA *********************/

/* #cta {} */

/********************* SECTION: FOOTER *********************/

.social-icon {
  margin: 20px 7px;
}

/**************************** MEDIA QUERY ****************************/
